.task_button {
  margin: 4px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.task_button__in_work:hover {
  background: forestgreen;
  box-shadow: 0 0 10px forestgreen;
}
.task_button__in_work {
  background: lawngreen;
}
.task_button__done {
  background: blue;
}
.task_button__done:hover {
  background: darkblue;
  box-shadow: 0 0 10px darkblue;
}
.task_label {
  display: inline-block;
  font-size: 24px;
  margin-left: 15px;
  vertical-align: top;
}
.tasl_label__done {
  text-decoration:line-through
}
.task__remove_button {
  display: inline-block;
  font-size: 20px;
  vertical-align: super;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 10px;
  padding: 0 8px;
  color: gray;
}
.task__remove_button:hover {
  box-shadow: 0 0 5px #ff164e;
  color: black;
}
