<div [ngClass]="'taskboard__container'">
  <div [ngClass]="'taskboard__in_work'">
    <div [ngClass]="'taskboard__label'">В работе ({{ jobsInWork.length }}):</div>
    <div [ngClass]="'taskboard__task_container'">
      <ng-template ngFor let-job [ngForOf]="jobsInWork" let-index="index">
        <div *ngIf="!job.done">
          <app-task
            [text]="job.text"
            [done]="job.done"
            [id]="job.id"
            (Clicked)="onClick($event)"
            (Deleted)="DeleteTask(index, job.done)">
          </app-task>
        </div>
      </ng-template>
    </div>
    <div [ngClass]="['taskboard__add_task']">
      <div [ngClass]="['tm__add_button_plus']" (click)="onAddTask(taskBody.value); taskBody.value=''">+</div>
      <textarea [ngClass]="['tm__add_button_input']" #taskBody placeholder="Введите текст задачи"></textarea>
    </div>
  </div>
  <div [ngClass]="'taskboard__done'">
    <div [ngClass]="'taskboard__label'">Выполненные ({{ jobsDone.length }}):</div>
    <div [ngClass]="'taskboard__task_container'">
      <ng-template ngFor let-job [ngForOf]="jobsDone">
        <div *ngIf="job.done">
          <app-task
            [text]="job.text"
            [done]="job.done"
            [id]="job.id"
            (Deleted)="DeleteTask(index, job.done)">
          </app-task>
        </div>
      </ng-template>
    </div>
  </div>
</div>
