<div [ngClass]="'taskboard__container'">
  <div [ngClass]="'taskboard__in_work'">
    <div [ngClass]="'taskboard__label'">В работе ({{ jobsInWork.length }}):</div>
    <div [ngClass]="'taskboard__task_container'">
      <ng-template ngFor let-job [ngForOf]="jobsInWork">
        <div *ngIf="!job.done">
          <app-task
            [text]="job.text"
            [done]="job.done"
            [id]="job.id"
            (Clicked)="onClick($event)">
          </app-task>
        </div>
      </ng-template>
    </div>
  </div>
  <div [ngClass]="'taskboard__done'">
    <div [ngClass]="'taskboard__label'">Выполненные ({{ jobsDone.length }}):</div>
    <div [ngClass]="'taskboard__task_container'">
      <ng-template ngFor let-job [ngForOf]="jobsDone">
        <div *ngIf="job.done">
          <app-task
            [text]="job.text"
            [done]="job.done"
            [id]="job.id">
          </app-task>
        </div>
      </ng-template>
    </div>
  </div>
</div>
